{% extends 'layout.html' %}
{% block body %}
    <div>
        Dolor pariatur autem similique quis iste Sunt aliquid perferendis officia quod optio Atque nobis minus quaerat error consequuntur dignissimos pariatur Delectus dicta libero nam voluptatum exercitationem Sit aspernatur magnam nulla et temporibus Inventore id harum tenetur voluptatem minus maiores repudiandae vitae. Totam dignissimos consectetur nam cupiditate animi. Fugit quos similique quas mollitia doloremque. In fuga voluptates sed nemo ducimus! Facere veniam necessitatibus asperiores cumque recusandae? Vel quaerat soluta iusto soluta incidunt. Commodi saepe accusantium vero sequi hic? Quibusdam molestiae iure
    </div>

{% endblock %}
